absl-py==1.1.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.1.0
boto3==1.37.0
botocore==1.37.0
brotlipy==0.7.0
cachetools==5.2.0
certifi==2020.6.20
click==8.1.8
colorama==0.4.6
conda==4.10.3
cycler==0.11.0
Cython==3.0.12
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
easydict==1.13
einops==0.8.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.16.1
fonttools==4.33.3
fsspec==2025.2.0
ftfy==6.2.3
google-auth==2.38.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
huggingface-hub==0.10.0
imageio==2.35.1
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipdb==0.13.13
ipykernel==6.15.0
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jpeg4py==0.1.4
json5==0.9.8
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==5.7.2
jupyter-server==1.17.1
jupyterlab==3.4.3
jupyterlab-language-pack-zh-CN==3.4.post1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
kiwisolver==1.4.3
lazy-loader==0.4
lmdb==1.6.2
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==3.1.2
mpmath==1.3.0
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.5.5
networkx==3.1
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.22.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
opencv-python==4.11.0.86
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pipreqs==0.5.0
platformdirs==4.3.6
prometheus-client==0.14.1
prompt-toolkit==3.0.50
protobuf==5.29.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.7
pycosat==0.6.3
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
pytz==2022.1
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==23.2.0
regex==2024.11.6
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.11.2
sacremoses==0.1.1
safetensors==0.5.2
scikit-image==0.21.0
scipy==1.10.1
Send2Trash==1.8.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.3.0
supervisor==4.2.4
sympy==1.13.1
tb-nightly==2.14.0a20230808
tensorboard==2.9.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
terminado==0.15.0
tifffile==2023.7.10
tikzplotlib==0.10.1
timm==1.0.15
tinycss2==1.1.1
tokenizers==0.12.1
tomli==2.2.1
torch==2.4.0
torchvision==0.19.0
tornado==6.1
traitlets==5.3.0
transformers==4.18.0
triton==3.0.0
typing-extensions==4.12.2
tzdata==2025.1
visdom==0.2.4
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
widgetsnbextension==3.6.0
yacs==0.1.8
yarg==0.1.9
zipp==3.8.0
